body {
    background-color: var(--bg);
    color: var(--text-main);
    font-family: var(--font);
    font-size: 20px;
}

.current {
    color: var(--hover);
}

.link:hover,
.link:focus {
    color: var(--hover);
    transition: 350ms color ease-in-out;
}